AddType application/javascript .js
AddType text/css .css
AddType image/svg+xml .svg

<IfModule mod_headers.c>
    <FilesMatch "\.(js|css|svg|png|jpg|ico)$">
        Header set Access-Control-Allow-Origin "*"
    </FilesMatch>
</IfModule>
